.result {
    font-size: large;
    font-style: italic;
    color: darkblue;
}

label {
    font-weight: bold;
}

/* Add styles to arrange the days horizontally */
.day-status {
    position: relative;
    top: 15px;
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

.status-icon {
    margin-left: 5px;
    display: inline-block;
}

#theme-toggle{
    left: 10px;
    top: 10px;
    position: relative;
}

.spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.checkmark {
    color: green;
    /* Use your icon or text for the check mark */
}


.btn-primary {
    position: relative;
    top: 19px;
}

/* Default light mode styles */
body {
    background-color: white;
    color: black;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .btn {
    background-color: #333;
    color: white;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode input, body.dark-mode select, body.dark-mode textarea {
    background-color: #3f3f3f;
    color: white;
    border-color: #fefefe;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border-color: white;
}

body.dark-mode .accordion-button {
    background-color: #333;
    color: white;
}

body.dark-mode .accordion-body {
    background-color: #252525;
    color: white;
}

/* main.css */
h1.display-4 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #383b3f;
    /* text-shadow: 2px 2px 4px #6c757d; */
}

p.lead {
    font-size: 1.25rem;
    color: #343a40; /* Bootstrap dark grey */
}

/* main.css */
.container.mt-4 {
    background: linear-gradient(to right, #d5c8e4, #5381dd);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

/* Dark mode styles */
body.dark-mode h1.display-4 {
    color: #0c6ffd;
    /* text-shadow: 2px 2px 4px #000; */
}

body.dark-mode p.lead {
    color: #d6d6d6; /* Lighter grey for better visibility in dark mode */
}

body.dark-mode .container.mt-4 {
    background: linear-gradient(to right, #424242, #303030); /* Darker gradient for dark mode */
    color: #ccc; /* Light grey text for better readability */
}

.text-center {
    text-align: center;
}

.accordion-body {
    text-align: left;
}

.d-flex {
    display: ruby;
}

.modal.show .modal-dialog {
    transform: none;
    top: 215px;
}

